---
import { BsEnvelopeFill, BsGeoAltFill, BsTelephoneFill } from "solid-icons/bs";
import { BsGithub, BsLinkedin } from "solid-icons/bs";
import {
  FOOTER_CONTACT,
  FOOTER_HEADING,
  FOOTER_LOCATION,
  FOOTER_TEXT,
  LINK_ADDRESS,
  LINK_SOCIAL,
  LINK_VCS,
  NAME,
} from "../strings.ts";
---

<article class="container mx-auto py-12 px-8 grid gap-4 text-end">
  <h2 class="font-title font-extrabold text-5xl md:text-6xl lg:text-7xl">
    {FOOTER_HEADING}
  </h2>

  <p class="text-2xl lg:text-3xl tracking-tight md:tracking-normal">
    <span class="block md:hidden">{FOOTER_TEXT[0]}</span>
    <span class="hidden md:block">{FOOTER_TEXT[1]}</span>
  </p>

  <address class="not-italic">
    <ul class="font-title font-thin text-2xl">
      <li class="flex flex-row-reverse items-center gap-4">
        <BsGeoAltFill />
        <span>
          {FOOTER_LOCATION[0]}<span class="hidden md:inline"
            >{FOOTER_LOCATION[1]}</span
          >
        </span>
      </li>
      <li class="flex flex-row-reverse items-center gap-4">
        <BsTelephoneFill />
        <span class="text-xl">{FOOTER_CONTACT}</span>
      </li>
    </ul>
  </address>

  <address class="not-italic">
    <ul class="-mr-2 flex flex-row-reverse gap-2">
      <a
        href={`mailto:${LINK_ADDRESS}`}
        target="_blank"
        class="block p-2 rounded transition hover:bg-white hover:text-primary active:scale-90"
      >
        <BsEnvelopeFill class="h-8 w-8" />
        <span class="sr-only">Send email to {LINK_ADDRESS}</span>
      </a>
      <a
        href={LINK_SOCIAL}
        target="_blank"
        class="block p-2 rounded transition hover:bg-white hover:text-primary active:scale-90"
      >
        <BsLinkedin class="h-8 w-8" />
        <span class="sr-only">Go to {NAME}'s LinkedIn profile</span>
      </a>
      <a
        href={LINK_VCS}
        target="_blank"
        class="block p-2 rounded transition hover:bg-white hover:text-primary active:scale-90"
      >
        <BsGithub class="h-8 w-8" />
        <span class="sr-only">Go to {NAME}'s GitHub profile</span>
      </a>
    </ul>
  </address>
</article>
