---
import strings, { decrypt } from '../strings.js';
---

<footer
  class="min-vh-100 p-5 flex-maximize text-lowercase text-light text-end fs-4"
>
  <div class="container d-flex justify-content-end align-items-center">
    <section>
      <h2 class="font-heading fw-bold">{decrypt(strings.FOOTER_HEADING)}</h2>
      <p>{decrypt(strings.FOOTER_TEXT)}</p>
      <p>
        {decrypt(strings.FOOTER_LOCATION)}
        <span class="bi bi-geo-alt-fill ms-2"></span>
        <br />
        {decrypt(strings.FOOTER_CONTACT)}
        <span class="bi bi-telephone-fill ms-2"></span>
      </p>
      <div class="fs-1 hstack justify-content-end gap-4">
        <a class="bi bi-github" href={decrypt(strings.FOOTER_VCS)}>
          <span class="visually-hidden">External link</span>
        </a>
        <a class="bi bi-linkedin" href={decrypt(strings.FOOTER_SOCIAL)}>
          <span class="visually-hidden">External link</span>
        </a>
        <a class="bi bi-envelope-fill" href={decrypt(strings.FOOTER_ADDRESS)}>
          <span class="visually-hidden">External link</span>
        </a>
      </div>
    </section>
  </div>
</footer>

<style>
  h2 {
    /* Bootstrap's responsive font size syntax with the base overridden */
    font-size: calc(3rem + 1.5vw);
  }

  section {
    min-width: calc(100% / 3);
  }

  footer {
    --overlay-color-values: var(--bs-primary-rgb);
    --overlay-color-opacity: 90%;
    --overlay-color: rgb(
      var(--overlay-color-values),
      var(--overlay-color-opacity)
    );
    --overlay: linear-gradient(var(--overlay-color), var(--overlay-color));

    background-image: var(--overlay), url('/bg-footer.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 24%;
  }
</style>
