---
import { BsEnvelopeFill, BsGeoAltFill, BsTelephoneFill } from "solid-icons/bs";
import {
  ALT_FOOTER_BG,
  FOOTER_CONTACT,
  FOOTER_HEADING,
  FOOTER_LOCATION,
  FOOTER_TEXT,
  LINK_ADDRESS,
  LINK_SOCIAL,
  LINK_VCS,
} from "../strings.ts";
import { SiGithub, SiLinkedin } from "solid-icons/si";
---

<footer
  class="min-h-screen grid items-center bg-primary/90 text-white selection:bg-white selection:text-primary"
>
  <article class="container mx-auto py-12 px-8 grid gap-4 text-end">
    <h2 class="font-title font-extrabold text-5xl md:text-6xl lg:text-7xl">
      {FOOTER_HEADING}
    </h2>

    <p class="text-2xl lg:text-3xl tracking-tight md:tracking-normal">
      <span class="block md:hidden">{FOOTER_TEXT[0]}</span>
      <span class="hidden md:block">{FOOTER_TEXT[1]}</span>
    </p>

    <ul class="font-title font-thin text-2xl">
      <li class="flex flex-row-reverse items-center gap-4">
        <BsGeoAltFill />
        <span>
          {FOOTER_LOCATION[0]}<span class="hidden md:inline"
            >{FOOTER_LOCATION[1]}</span
          >
        </span>
      </li>
      <li class="flex flex-row-reverse items-center gap-4">
        <BsTelephoneFill />
        <span class="text-xl">{FOOTER_CONTACT}</span>
      </li>
    </ul>

    <ul class="flex flex-row-reverse gap-4">
      <a href={LINK_ADDRESS} target="_blank">
        <BsEnvelopeFill class="h-8 w-8" />
      </a>
      <a href={LINK_SOCIAL} target="_blank">
        <SiLinkedin class="h-8 w-8" />
      </a>
      <a href={LINK_VCS} target="_blank">
        <SiGithub class="h-8 w-8" />
      </a>
    </ul>
  </article>

  <img
    src="/footer.jpg"
    alt={ALT_FOOTER_BG}
    class="-z-10 fixed top-0 h-full w-full object-cover object-[25%]"
  />
</footer>
