---
import strings, { decrypt } from '../strings.js';
---

<footer class="min-vh-100 px-3 py-4 flex-maximize" id="contact">
  <div
    class="container pb-4 flex-maximize align-items-center text-lowercase text-white text-end fs-4"
  >
    <section id="contact">
      <h2 class="font-heading fw-bold">{decrypt(strings.FOOTER_HEADING)}</h2>

      <p class="footer-text">
        <span>{decrypt(strings.FOOTER_TEXT[0])}</span>
        <span class="d-none">{decrypt(strings.FOOTER_TEXT[1])}</span>
      </p>

      <p class="vstack font-heading fw-light">
        <span>
          {decrypt(strings.FOOTER_CONTACT)}
          <span class="bi bi-telephone-fill ms-2"></span>
        </span>
        <span class="footer-location">
          {decrypt(strings.FOOTER_LOCATION[0])}<span class="d-none"
            >{decrypt(strings.FOOTER_LOCATION[1])}
          </span>
          <span class="bi bi-geo-alt-fill ms-2"></span>
        </span>
      </p>

      <div class="fs-1 hstack justify-content-end gap-4">
        <a class="bi bi-github" href={decrypt(strings.LINK_VCS)}>
          <span class="visually-hidden">External link</span>
        </a>
        <a class="bi bi-linkedin" href={decrypt(strings.LINK_SOCIAL)}>
          <span class="visually-hidden">External link</span>
        </a>
        <a class="bi bi-envelope-fill" href={decrypt(strings.LINK_ADDRESS)}>
          <span class="visually-hidden">External link</span>
        </a>
      </div>
    </section>
  </div>

  <!--  `background-attachment: fixed;` behaves strangely in mobile.
    --  It creates white sections on scroll that is not filled with the background image.
    --  This is a remedy to that, which fixes the background to the viewport instead.
    --  This requires other elements to "cover" it with their own backgrounds
    --  if this is not meant to be shown behind them.
    --  https://css-tricks.com/the-fixed-background-attachment-hack/
    -->
  <div class="position-fixed top-0 start-0 vw-100 vh-100 background">
    <img
      class="position-absolute w-100 h-100"
      src="/bg-footer.jpg"
      alt="Background image"
    />
    <div class="position-absolute w-100 h-100 overlay"></div>
  </div>
</footer>

<style>
  h2 {
    /* Bootstrap's responsive font size syntax with the base overridden */
    font-size: calc(3rem + 1.5vw);
  }

  @media only screen and (min-width: 576px) {
    .footer-text > span:nth-child(1) {
      display: none;
    }
    .footer-text > span:nth-child(2) {
      display: unset !important;
    }

    .vstack {
      flex-direction: column-reverse;
    }

    .footer-location > span:nth-child(1) {
      display: unset !important;
    }
  }

  .background {
    z-index: -1000;
  }
  .background .overlay {
    --color-values: var(--bs-primary-rgb);
    --color-opacity: 90%;
    background-color: rgba(var(--color-values), var(--color-opacity));
  }
  .background img {
    object-fit: cover;
    object-position: 25%;
  }
</style>
