---
import { SiGithub, SiLinkedin } from "solid-icons/si";
import {
  HEADER_MAIN,
  HEADER_TEXT,
  HEADER_TEXT_HEADING,
  HEADER_TEXT_HEADING_LINK,
  LINK_SOCIAL,
  LINK_VCS,
  NAME,
  decrypt,
} from "../strings.js";
import { HeaderPortrait } from "./HeaderPortrait.jsx";
import { ResumeLinkButton } from "./ResumeLinkButton.jsx";

const title = HEADER_MAIN.map(decrypt);

const textHeadingLink = decrypt(HEADER_TEXT_HEADING_LINK);
const textHeading = decrypt(HEADER_TEXT_HEADING);
const text = HEADER_TEXT.map(decrypt);

const linkGitHub = decrypt(LINK_VCS);
const linkLinkedIn = decrypt(LINK_SOCIAL);

const portraitLabel = decrypt(NAME);
---

<header class="min-h-screen grid items-center py-12 px-8 md:px-16 lg:px-24">
  <article class="grid header-grid-template">
    <h1
      class="header-grid-title font-title font-thin text-primary text-5xl lg:text-8xl lg:pl-6 lg:pt-6"
    >
      {title[0]}
      <span class="font-extrabold">{title[1]}</span>
    </h1>

    <section
      class="header-grid-description bg-white border-primary border-2 rounded-lg border-t-0 border-l-0 rounded-bl-none p-4 md:pl-6 mt-6 md:mt-4"
    >
      <h2 class="font-title text-primary font-extrabold text-3xl">
        <a href={textHeadingLink} target="_blank">{textHeading}</a>
      </h2>

      <p>
        {text[0]}
        <span class="font-bold">{text[1]}</span>
        <span class="capitalize">{text[2]}</span>
        {text[3]}
        <em>{text[4]}</em>

        <br />

        {text[5]}
        <span class="font-bold">{text[6]}</span>
        {text[7]}
        <span class="font-bold">{text[8]}</span>
        {text[9]}
        <span class="font-bold">{text[10]}</span>
        {text[11]}

        <br />

        <span class="text-primary/50">{text[12]}</span>
      </p>

      <footer class="flex flex-row-reverse items-center gap-4">
        <ResumeLinkButton client:load />
        <a href={linkLinkedIn} target="_blank">
          <SiLinkedin class="h-8 w-8" />
        </a>
        <a href={linkGitHub} target="_blank">
          <SiGithub class="h-8 w-8" />
        </a>
      </footer>
    </section>

    <figure class="header-grid-portrait">
      <HeaderPortrait client:load />
      <figcaption class="sr-only">{portraitLabel}</figcaption>
    </figure>
  </article>
</header>
