---
import { SiGithub, SiLinkedin } from "solid-icons/si";
import {
  HEADER_MAIN,
  HEADER_TEXT,
  HEADER_TEXT_HEADING,
  HEADER_TEXT_HEADING_LINK,
  LINK_SOCIAL,
  LINK_VCS,
  NAME,
} from "../strings.js";
import { HeaderPortrait } from "./HeaderPortrait.jsx";
import { ResumeLinkButton } from "./ResumeLinkButton.jsx";
---

<header
  class="bg-[url('/texture.png')] bg-white min-h-screen grid items-center py-12 px-8 md:px-16 lg:px-24"
>
  <article class="grid header-grid-template">
    <h1
      class="header-grid-title font-title font-thin text-primary text-5xl lg:text-8xl lg:pl-6 lg:pt-6"
    >
      {HEADER_MAIN[0]}
      <span class="font-extrabold">{HEADER_MAIN[1]}</span>
    </h1>

    <section
      class="header-grid-description bg-white border-primary border-2 rounded-lg border-t-0 border-l-0 rounded-bl-none p-4 md:pl-6 mt-6 md:mt-0"
    >
      <h2 class="mb-2 font-title text-primary font-extrabold text-3xl">
        <a href={HEADER_TEXT_HEADING_LINK} target="_blank">
          {HEADER_TEXT_HEADING}
        </a>
      </h2>

      <p>
        {HEADER_TEXT[0]}
        <span class="font-bold">{HEADER_TEXT[1]}</span>
        <span class="capitalize">{HEADER_TEXT[2]}</span>
        {HEADER_TEXT[3]}
        <em>{HEADER_TEXT[4]}</em>

        <br class="block content-[''] mb-1" />

        {HEADER_TEXT[5]}
        <span class="font-bold">{HEADER_TEXT[6]}</span>
        {HEADER_TEXT[7]}
        <span class="font-bold">{HEADER_TEXT[8]}</span>
        {HEADER_TEXT[9]}
        <span class="font-bold">{HEADER_TEXT[10]}</span>
        {HEADER_TEXT[11]}

        <br class="block content-[''] mb-1" />

        <span class="text-primary/25">{HEADER_TEXT[12]}</span>
      </p>

      <footer class="mt-6 flex flex-row-reverse items-center gap-4">
        <ResumeLinkButton client:load />
        <a href={LINK_VCS} target="_blank">
          <SiLinkedin class="h-8 w-8" />
        </a>
        <a href={LINK_SOCIAL} target="_blank">
          <SiGithub class="h-8 w-8" />
        </a>
      </footer>
    </section>

    <figure
      class="header-grid-portrait relative w-full aspect-[3/4] bg-primary/50 rounded-lg overflow-hidden"
    >
      <div class="absolute w-full h-full grid place-items-center">
        <HeaderPortrait client:load />
      </div>
      <figcaption class="sr-only">{NAME}</figcaption>
    </figure>
  </article>
</header>
